/* ======== contact page css start ====== */

.contact-us-sec .contact-icon {
    height: 111px;
    width: 100%;
    max-width: 111px;
    background: #000ABC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.contact-us-sec {
    background: rgba(250, 250, 250, 1);
}

.contact-us-sec .contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us-sec .contact-text {
    padding-left: 20px;
}

.contact-us-sec .contact-text p {
    margin: 0;
    color: #626262;
    font-size: 14px;
    line-height: 21px;
}

.contact-us-sec .contact-text a {
    margin: 0;
    color: #626262;
    font-size: 14px;
    line-height: 21px;
}

.contact-us-sec .contact-text h6 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}


.contact_detail .Details-data {
    max-width: 670px;
    margin: auto;
}

.Details-data h4 {
    text-align: center;
}

form.contact_detail-form {
    max-width: 900px;
    margin: auto;
    padding-top: 40px;
}

.contact_detail input.form-control {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #EEE;
    background: #fff;
}

.contact_detail .form-group {
    margin-bottom: 20px !important;
}

.contact_detail textarea#w3review {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #EEE;
    background: #FFF;
    padding: 20px;
    color: #858585;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    outline: none;
}

.contact_detail .form-control:focus {
    box-shadow: none;
    border: none;
}

.contact_detail .form-control:focus {
    box-shadow: none;
    border: 1px solid #EEE;
}

.contact_detail input.form-control::placeholder {
    color: #858585;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.submit_cta a {
    border-radius: 150px;
    background: #000ABC;
    padding: 20px 66px;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    border: 1px solid #000ABC;
}
.submit_cta button {
    border-radius: 150px;
    background: #000ABC;
    padding: 20px 66px;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    border: 1px solid #000ABC;
}

.submit_cta a:hover {
    border: 1px solid #000ABC;
    background: #fff;
    color: #000ABC;
}
.submit_cta button:hover {
    border: 1px solid #000ABC;
    background: #fff;
    color: #000ABC;
}

.submit_cta {
    text-align: center;
    padding-top: 50px;
}

/* ======== contact page css end ====== */

/* ======== Store page css start ====== */

.all_products_sec .box-products {
    border: 1px solid #EBEBEB;
}

.all_products_sec .products-data {
    padding: 35px;
}

.all_products_sec .products-name h4 {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.all_products_sec .products-name p {
    color: #000;
    margin: 0;
}

.all_products_sec .products-star {
    padding: 17px 0;
}

.all_products_sec .products-price h6 {
    font-size: 22px;
    color: #000ABC;
    font-weight: 500;
}

.all_products_sec .products-price span {
    color: #626262;
    padding-left: 10px;
    text-decoration: line-through;
}

.all_products_sec a.add-btn.active {
    border-radius: 320px;
    background: #000ABC;
    padding: 14px 43px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.all_products_sec .add-cart {
    padding-top: 40px;
}

.all_products_sec a.more-btn {
    margin-left: 30px;
    text-decoration-line: underline;
    color: #000;
    font-weight: 600;
}

.all_products_sec a.add-btn {
    border-radius: 320px;
    border: 1px solid #EBEBEB;
    padding: 14px 43px;
    display: inline-block;
    color: #000;
    font-weight: 600;
}

.all_products_sec .box-products {
    margin-top: 30px;
}

.products-head h3 {
    margin: 0;
}

.select-data select {
    padding: 20px;
    border: 1px solid #EBEBEB;
    background: none;
    font-size: 16px;
    outline: none;
}


.products-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all_products_sec a.add-btn:hover {
    background: #000ABC;
    color: #fff;
}

.all_products_sec a.add-btn.active:hover {
    background: #fff;
    color: #000;
}

.products-star i {
    color: rgba(249, 195, 51, 1);
    font-size: 22px;
}


/* ======== Store page css end ====== */

/* ======== Gallery page css start ====== */

.gallery-sec .gallery-head {
    text-align: center;
    max-width: 771px;
    margin: auto;
}

.gallery-sec .tab-img img {
    width: 100%;
}

.gallery-sec .tab-img {
    margin-bottom: 30px;
}

.gallery-sec .light-text h5 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 36px;
    color: #000;
    font-weight: 600;
}

.gallery-sec .tab-pane h5 {
    color: #000;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}

.gallery-sec .more-ct {
    text-align: center;
    padding-top: 30px;
}

/* ======== Gallery page css end ====== */

/* ======== Privacy Policy page css start ====== */

.privacy_text h3 {
    text-align: start;
}

.privacy_text {
    margin-bottom: 40px;
}

.privacy_text h6 {
    font-size: 28px;
    font-weight: 600;
    color: #000;
}

.privacy_text p {
    font-weight: 500;
    color: #000;
}

.privacy_text.list ul {
    padding-left: 0;
    list-style: none;
}

.privacy_text.box p {
    color: #626262;
    font-weight: 400;
}

/* ======== Privacy Policy page css end ====== */
.login-sec .submit_cta {
    text-align: start;
}

.login-sec a.create-btn {
    border-radius: 150px;
    border: 1px solid #000ABC;
    background: none;
    color: #1C2838;
    margin-left: 30px;
}

.login-sec a.create-btn:hover {
    background: #000ABC;
    color: #fff;
}

.remember-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.remember-box p {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    margin: 0;
}

.remember_data {
    display: flex;
    align-items: center;
}

.login-box img {
    width: 100%;
}

.login-sec input[type="checkbox"] {
    position: relative;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    background: none;
    cursor: pointer;
    line-height: 0;
    margin: 0 0.6em 0 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    opacity: 0.5;
}

.login-sec input[type="checkbox"]:hover {
    opacity: 1;
}

.login-sec input[type="checkbox"]:checked {
    background-color: #000abc;
    opacity: 1;
}

.login-sec input[type="checkbox"]:before {
    content: "";
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
}

.col-md-6.custom_form {
    padding-left: 45px;
}

header.site-header.custom_header {
    position: static;
    background: #000;
}

.store-breadcrumb ol.breadcrumb {
    background: #fff;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.store-breadcrumb ol.breadcrumb li a {
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
}

.store-breadcrumb li.breadcrumb-item.active {
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
}

.store_detail_sec {
    padding-top: 30px;
}

.store_detail_sec .store-img img {
    width: 100%;
}

.store-details-data h3 {
    text-align: start;
}

.store_detail_sec .store-details-data p {
    font-size: 16px;
}

.store_detail_sec .store-details-data {
    padding-left: 40px;
}

.store_detail_sec .products-price h6 {
    color: #000ABC;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.store_detail_sec .products-price span {
    color: #626262;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    text-decoration: line-through;
}

.store_detail_sec .simply-text ul {
    padding: 0;
    margin: 0;
    padding-left: 26px;
}

.store_detail_sec .simply-text ul li::marker {
    color: #000ABC;
}

.store_detail_sec .add-btn.submit_cta a {
    display: block;
}

.store_detail_sec .cart-quantity h6 {
    font-size: 18px;
    color: #000;
}

.store_detail_sec .simply-text {
    padding-bottom: 30px;
}

.store_detail_sec .store-box-img {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.store_detail_sec .box-img {
    margin-left: 20px;
}

.reviews_tabs .tab-content p {
    font-size: 16px;
}

.reviews_tabs .nav-tabs .nav-link.active {
    color: #000;
    background: none;
    font-size: 16px;
    border: none;
    text-decoration: underline;
}

.reviews_tabs ul.nav.nav-tabs {
    border: none;
}

.reviews_tabs .nav-tabs {
    margin: inherit;
}

.reviews_tabs .tab-content {
    padding-top: 40px;
}

.reviews_tabs .nav-tabs .nav-link {
    color: #7C888A;
    border: none;
}

.delivery-sec .icon_img {
    text-align: center;
}

.delivery-sec {
    background: #F6F6F8;
    padding: 70px 0;
}

.delivery-sec h5 {
    color: #222;
    padding-top: 15px;
    font-size: 24px;
    font-weight: 600;
}

.learning-text {
    max-width: 987px;
    margin: auto;
}

.learning-text p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.value_data {
    display: flex;
    align-items: center;
    border: 1px solid #EEE;
    max-width: 158px;
    padding: 20px;
    margin-top: 15px;
}

.value_data input#number {
    border: none;
    text-align: center;
    font-size: 18px;
    width: 100%;
    outline: none;
}

.value_data .value-button {
    font-size: 20px;
    color: #626262;
    font-weight: 600;
}

.collect-head h6 {
    font-size: 22px;
    color: #000;
    font-weight: 600;
}

.collect-text p {
    color: #000;
    font-weight: 500;
}

.collect-data {
    max-width: 1000px;
    margin: auto;
    padding-top: 50px;
    height: 900px;
    overflow: scroll;
}

.collect-text ul li {
    margin-bottom: 10px;
}

.store_detail_sec .slider.slider-nav.slick-initialized.slick-slider.slick-dotted {
    padding-top: 20px;
}

.store_detail_sec button#slick-slide-control10 {
    display: none;
}

.store_detail_sec ul.slick-dots {
    display: none;
}

.shopping-cart-sec {
    padding: 70px 0;
}

.shopping-cart-sec {
    padding-bottom: 0px;
}

.custom-img img {
    width: 100%;
    height: 100%;
}

.slider.slider-nav .slick-track {
    margin: inherit !important;
    display: flex;
}

.custom-img {
    height: auto !important;
}

.slider.slider-nav .custom-img {
    margin-left: 10px;
}

/* cart page */
.cart-img {
    width: 130px;
    height: 120px;
}

.table-text {
    max-width: 616px;
    margin-left: auto;
    padding: 40px;
    border: 1px solid #F0F0F0;
    margin-top: 60px;
}

.Checkout-btn {
    margin-top: 40px !important;
}


.shopping-cart-sec .cart-wrapper {
    display: flex;
    align-items: center;
}

.shopping-cart-sec .cart-content {
    max-width: 342px;
    padding-left: 20px;
}

.shopping-cart-sec .cart-content p {
    color: #111;
    font-weight: 600;
}

.shopping-cart-sec table.product-table th {
    color: #000;
    font-size: 20px;
}

.shopping-cart-sec .cart-head {
    padding-bottom: 40px;
}

.shopping-cart-sec th.col-2.bor.total-text {
    text-align: center;
}

.shopping-cart-sec td.product-data-wrap.total-text {
    text-align: center;
}

.shopping-cart-sec td.product-data-wrap.remove-text.aaa {
    text-align: center;
}

.shopping-cart-sec .Checkout-btn {
    max-width: 516px;
    margin: auto;
}

.shopping-cart-sec .Checkout-btn a.cta {
    display: block;
    border-radius: 120px;
    background: #000ABC;
    color: #fff;
}

.shopping-cart-sec .Subtotal-text td {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    padding-bottom: 15px;
}

.shopping-cart-sec table {
    width: 100%;
}

.shopping-cart-sec table.product-table p {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.shopping-cart-sec td.total-data {
    font-weight: 600;
}

tr.sum {
    border: none !important;
    padding: 0 !important;
}

.table-text select {
    border: none;
    background: #fff;
    outline: none;
    color: #626262;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    max-width: 430px;
}

.shopping-cart-sec td.product-data-wrap {
    padding: 30px 0px;
    border-bottom: 1px solid #EBEBEB;
}

.shopping-cart-sec th.bor {
    border-bottom: 1px solid #EBEBEB;
    padding: 0 0 16px 0;
    font-weight: 600;
}

.shopping-cart-sec .check-btn a.cta {
    border-radius: 120px;
    border: 1px solid #F0F0F0;
}

.shopping-cart-sec .check-btn {
    padding-top: 30px;
}

.shopping-cart-sec input.cta.code {
    width: 100%;
    max-width: 400px;
    margin-right: 30px;
    text-align: start;
    font-size: 14px;
    color: #777;
    font-weight: 400;
    line-height: normal;
}
.shopping-cart-sec input.cta.code {
    border: 1px solid #F0F0F0;
    transition: 0.5s;
    outline: none;
}
.shopping-cart-sec input.cta.code:hover{
    cursor: pointer;
}
.shopping-cart-sec .check-btn a.cta.cart {
    border-radius: 120px;
    background: #000ABC;
    color: #fff;
    padding: 16px 40px;
    font-size: 18px;
    font-weight: 600;
}


.shopping-cart-sec .cart-btn {
    padding-top: 30px;
    text-align: end;
}
td.product-data-wrap.remove-text.aaa i {
    color: #000abc;
    font-weight: 800;
}
.shopping-cart-sec .cart-btn a {
    color: #626262;
    font-size: 18px;
    font-weight: 600;
}

.shopping-cart-sec .cart-btn a.cta.cart {
    color: #626262;
    font-size: 18px;
    font-weight: 600;
}

.shopping-cart-sec .cart-btn a {
    border-radius: 120px;
    background: #EBEBEB;
    padding: 15px 30px;
    text-align: center;
}

.shopping-cart-sec td.cart-custom.sum {
    padding: 0;
}

.shopping-cart-sec td.cart-custom.tax {
    color: #626262;
    font-weight: 400;
}

.Subtotal-text tr {
    border-bottom: 1px solid #EBEBEB;
    
}

.Subtotal-text tr:last-child {
    border: none;
}
.shopping-cart-sec .cart-btn a:hover {
    background: #000ABC;
    color: #fff;
}
.shopping-cart-sec .Checkout-btn a.cta:hover {
    color: #000ABC;
    background: #fff;
    border: 1px solid #000ABC;
}

/* ======== responsive  css start ====== */

@media only screen and (max-width:1599px) {

    .contact-us-sec .contact-icon {
        height: 80px;
        width: 100%;
        max-width: 80px;
    }

    .contact-icon img {
        width: 100%;
        max-width: 30px;
    }

    .all_products_sec .products-data {
        padding: 25px;
    }

    .all_products_sec .products-name h4 {
        font-size: 26px;
    }

    .all_products_sec .products-star {
        padding: 8px 0;
    }

    .all_products_sec a.add-btn.active {
        padding: 10px 33px;
        font-size: 15px;
    }

    .all_products_sec a.more-btn {
        margin-left: 10px;
        font-size: 15px;
    }

    .all_products_sec .add-cart {
        padding-top: 25px;
    }

    .all_products_sec a.add-btn {
        padding: 10px 33px;
        font-size: 15px;
    }

    .all_products_sec .products-price h6 {
        font-size: 20px;
    }

    .login-sec a.create-btn {
        padding: 20px 46px;
    }

    .store_detail_sec .store-details-data {
        padding-left: 20px;
    }

    .store_detail_sec .store-details-data p {
        line-height: 1.5;
    }

    .add-btn.submit_cta {
        padding-top: 30px;
    }

    .store_detail_sec .simply-text {
        padding-bottom: 20px;
    }

    .shopping-cart-sec a.cta.code {
        width: 100%;
        max-width: 240px;
        margin-right: 20px;

    }
}

@media only screen and (max-width:1399px) {

    .all_products_sec .submit_cta a {
        padding: 15px 50px;
    }

    .privacy_text h6 {
        font-size: 22px;
    }

    .privacy_text {
        margin-bottom: 30px;
    }

    .col-md-6.custom_form {
        padding-left: 25px;
    }

    .login-sec form.contact_detail-form {
        padding-top: 20px;
    }

    .add-btn.submit_cta {
        padding-top: 20px;
    }

    .delivery-sec h5 {
        font-size: 20px;
    }

    .reviews_tabs .tab-content {
        padding-top: 20px;
    }

    .shopping-cart-sec table.product-table th {
        font-size: 18px;
    }
    .table-text {
        padding: 30px;
    }
}

@media only screen and (max-width:1199px) {
    .submit_cta a {
        padding: 18px 60px;
    }

    .contact-us-sec .contact-icon {
        height: 70px;
        width: 100%;
        max-width: 70px;
    }

    .contact-icon.img img {
        max-width: 23px;
    }

    .all_products_sec .products-name h4 {
        font-size: 22px;
    }

    .all_products_sec .products-data {
        padding: 20px;
    }

    .all_products_sec .products-name p {
        line-height: normal;
        font-size: 15px;
    }

    .all_products_sec .add-cart {
        padding-top: 15px;
    }

    .all_products_sec a.add-btn.active {
        padding: 6px 27px;
        font-size: 14px;
    }

    .all_products_sec a.add-btn {
        padding: 6px 27px;
        font-size: 14px;
    }

    .all_products_sec a.more-btn {
        margin-left: 10px;
        font-size: 14px;
    }

    .all_products_sec .products-price h6 {
        font-size: 18px;
        margin: 0px;
    }

    .col-md-6.custom_form {
        padding-left: 15px;
    }

    .login-sec a.create-btn {
        padding: 16px 36px;
        margin-left: 10px;
    }

    .login-sec a.submit-btn {
        padding: 16px 56px;
    }

    .login-sec form.contact_detail-form {
        padding-top: 0;
    }

    .store_detail_sec .store-details-data {
        padding-left: 0;
    }

    .store_detail_sec .store-details-data {
        padding-left: 0;
    }

    .store_detail_sec .products-price h6 {
        font-size: 30px;
    }

    .value_data {
        padding: 12px;
    }

    .shopping-cart-sec .cart-btn a {
        font-size: 16px;
    }

    .shopping-cart-sec .check-btn input.cta.cart {
        font-size: 16px;
        padding: 16px 30px;
    }

    .shopping-cart-sec a.cta.code {
        width: 100%;
        max-width: 200px;
        margin-right: 10px;
    }

    .shopping-cart-sec .cart-content {
        max-width: 262px;
        padding-left: 20px;
    }
}

@media only screen and (max-width:991px) {

    .contact-us-sec .contact-box {
        flex-direction: column;
        text-align: center;
    }

    .contact-us-sec .contact-icon {
        height: 70px;
        width: 70px;
        max-width: 70px;
        margin-bottom: 20px;
    }

    .contact_detail input.form-control {
        padding: 15px;
    }

    .contact_detail textarea#w3review {
        padding: 15px;
    }

    .submit_cta {
        padding-top: 20px;
    }

    .submit_cta a {
        padding: 13px 50px;
        font-size: 16px;
    }

    .select-data select {
        padding: 15px;
    }

    .gallery-sec .tab-pane h5 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .gallery-sec .more-ct {
        padding-top: 12px;
    }

    .gallery-sec .more-ct a.cta {
        padding: 14px 35px;
    }

    .gallery-detail a {
        padding: 14px 30px;
    }

    .gallery-sec .tab-pane h5 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .gallery-sec .more-ct {
        padding-top: 12px;
    }

    .gallery-sec .more-ct a.cta {
        padding: 14px 35px;
    }

    .gallery-detail a {
        padding: 14px 30px;
    }

    .privacy_text.list ul li {
        line-height: 1.5;
    }

    .privacy_text h6 {
        font-size: 20px;
    }

    .login-sec a.create-btn {
        padding: 10px 26px;
        margin-left: 10px;
        font-size: 14px;
    }

    .login-sec a.submit-btn {
        padding: 12px 36px;
        font-size: 14px;
    }

    .collect-text ul li {
        margin-bottom: 7px;
    }

    .delivery-sec h5 {
        font-size: 18px;
        padding-top: 10px;
    }

    .table-text {
        margin: auto;
      
        margin-top: 40px !important;
    }
    .shopping-cart-sec .cart-content {
        padding-left: 10px;
        max-width: 200px;
    }
    
    .shopping-cart-sec table.product-table p {
        font-size: 15px;
        line-height: normal;
    }
    
    .value_data {
        margin: 0 !important;
    }
    .shopping-cart-sec .Checkout-btn {
        margin: initial;
    }
    .shopping-cart-sec .cart-btn {
        display: flex;
        flex-direction: column;
    }
    
    .shopping-cart-sec .cart-btn a {
        margin-bottom: 12px;
    }
    
    .shopping-cart-sec .check-btn {
        display: flex;
        flex-direction: column;
    }
    
    .shopping-cart-sec a.cta.code {
        max-width: 100%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:767px) {

    .contact-us-sec .contact-box {
        align-items: start;
        text-align: start;
        padding-bottom: 30px;
    }

    .contact-us-sec .contact-icon {
        margin-bottom: 10px;
    }

    .contact-us-sec .contact-box {
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .contact-us-sec .contact-icon {
        height: 65px;
        width: 65px;
        min-width: 65px;
        margin: 0;
    }

    .contact-icon.img img {
        max-width: 20px;
    }

    .products-img img {
        width: 100%;
    }

    .all_products_sec .submit_cta a {
        padding: 12px 50px;
    }

    .col-md-6.custom_form {
        padding-top: 30px;
    }

    .collect-text ul li {
        margin-bottom: 0;
    }

    .delivery-sec {
        padding: 50px 0;
    }

    .delivery-sec .icon_img {
        padding-bottom: 30px;
    }

    .store-breadcrumb ol.breadcrumb {
        margin-bottom: 12px;
    }

    .store_detail_sec .products-price h6 {
        font-size: 26px;
    }

    .store-details-data {
        padding-top: 30px;
    }
    .shoping-tab {
        overflow: scroll;
    }
    
    table.product-table {
        width: 710px;
    }

}


@media only screen and (max-width:575px) {
    .contact-icon img {
        width: 100%;
        max-width: 25px;
    }

    .contact-us-sec .contact-text {
        padding-left: 10px;
    }

    .contact-us-sec .contact-icon {
        height: 60px;
        width: 60px;
        min-width: 60px;
        margin: 0;
    }

    .products-wrapper {
        flex-direction: column;
    }

    .select-data {
        margin-top: 12px;
    }

    .gallery-sec .tab-pane h5 {
        font-size: 26px;
    }

    .privacy_text h6 {
        font-size: 18px;
    }

    .remember-box p {
        font-size: 14px;
    }

    .login-sec a.submit-btn {
        padding: 10px 30px;
        font-size: 14px;
    }

    .login-sec a.create-btn {
        padding: 10px 18px;
        margin-left: 10px;
        font-size: 14px;
    }

    .collect-head h6 {
        font-size: 18px;
        color: #000;
        font-weight: 600;
    }
    .table-text {
        padding: 20px;
    }
    table.apply-table tr {
        display: flex;
        flex-direction: column;
    }
    .table-text {
        overflow: scroll;
    }
    
    .total-data {
        width: 400px;
    }
}

/* ======== responsive  css end ======== */